#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.flash-message {
  background-color: #f806c8;
  border: 1px solid #f806c8;
  padding: 20px;
  margin-bottom: 20px;
}

.flash-message h2 {
  font-size: 20px;
  margin-bottom: 7px;
}

.flash-message p {
  font-size: 16px;
  margin-bottom: 0;
}

.flash-message-active {
  background-image: url('./images/rick.png');
  background-size: cover;
}

.list-color-change {
  color:#f806c8
}